{% extends 'admin/admin.html.twig' %}

{% block content %}
    <h3>Joining stations</h3>
    <h4>{{ service.name }}</h4>

    {% if not setup %}
        <div class="alert alert-block alert-error">
            There are no pricebands. You need to create at least one priceband (and
            at least one destination) first.
        </div>
    {% else %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Station</th>
                    <th>CRS</th>
                    <th>Price band</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {% for joining in joinings %}
                    <tr>
                        <td>{{ joining.station }}</td>
                        <td><span class="badge">{{ joining.crs }}</span>
                        <td>{{ joining.pricebandname }}</td>
                        <td>
                            <a class="btn btn-sm btn-primary" href="{{ path('joining/edit', [ serviceid, joining.id ]) }}">
                                Edit</a>
                            <a class="btn btn-sm btn-danger" href="{{ path('joining/delete', joining.id) }}">
                                Delete</a>
                        </td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>

        <div>
            <a class="btn btn-primary" href="{{ path('joining/edit', [service.id, 0]) }}">
                New station
            </a>&nbsp;
            <a class="btn btn-warning" href="{{ path('service/show', service.id) }}">
                Back
            </a>
        </div>
    {% endif %}
{% endblock content %}