{% extends 'admin/admin.html.twig' %}

{% block content %}
    <h3>Destination edit</h3>
    <h4>{{ service.name }}</h4>

    <div class="alert alert-info">
        The description will be shown to the user to select their destination.
        This can be a simple destination station or a destination station plus
        an 'optional extra' (e.g. "Grange-over-Sands plus Windermere Cruise").
        Please make sure you include all possible combinations as destinations.
    </div>

    <form id="destination-edit-form" class="form-horizontal" action="{{ path('destination/edit', { 'id': destination.id }) }}"
          method="post" >
        {{ form_text('crs', 'CRS', destination.crs) }}
        {{ form_text('name', 'Name', destination.name) }}
        {{ form_textarea('description', 'Description', destination.description) }}

        <div>
            <input type="submit" name="submit" value="Save" class="btn btn-primary" />
            <input type="submit" name="cancel" value="Cancel" class="btn btn-warning" />
        </div>
    </form>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $("#crsText").change(
            function() {
                crs = $(this).val();
                name = $("#nameText").val();
                //if (!name) {
                if (true) {
                    $.ajax({
                        url: "{{ path('destination/ajax') }}",
                        data: { 'crstyped': crs },
                        type: 'post',
                        success: function(output) {
                                $("#nameText").val(output);
                            }
                    });
                    //$("#srps_bookingbundle_destinationtype_name").val(crs);
                }
            }
        );

        $('#destination-edit-form').validate({
            errorClass: "validateError",
            rules: {
                crs: {
                    required: true
                },
                name: {
                    required: true
                },
                description: {
                    required: true
                }
            }
        });
    </script>
{% endblock javascripts %}
