{% extends 'admin/admin.html.twig' %}

{% block content %}
    <h3>User edit</h3>

    <form id="user-edit-form" class="form-horizontal" action="{{ path('user/edit', username) }}" method="post">
        {% if not username %}
            {{ form_text('username', 'Username', '') }}
        {% endif %}
        {{ form_text('firstname', 'First name', user.firstname) }}
        {{ form_text('lastname', 'Last name', user.lastname) }}
        {{ form_password('password', 'Password') }}
        {{ form_select('role', 'Role', user.role, rolechoice) }}
        {{ form_yesno('is_active', 'Active account?', user.is_active) }}

        {{ form_errors(errors) }}

        <div>
            <input type="submit" name="submit" value="Save" class="btn btn-primary" />
            <input type="submit" name="cancel" value="Cancel" class="btn btn-warning" />
        </div>
    </form>

{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#user-edit-form').validate({
            errorClass: "validateError",
            rules: {
                {% if not username %}
                    username: {
                        required: true
                    },
                {% endif %}
                firstname: {
                    required: true
                },
                lastname: {
                    required: true
                },
                role: {
                    required: true
                }
            }
        });
    </script>
{% endblock javascripts %}
    