{% extends 'booking/booking.html.twig' %}

{% block content %}
    <div class="srpsnavbar">
        SRPS Railtours Online Booking &nbsp;<span class="navdot glyphicon glyphicon-record"></span>&nbsp; {{ service.name }}
    </div>

    <h3 class="text-error">Choose First or Standard...</h3>

    <p>
        Choose whether you would like to travel in First or Standard Class. The
        price breakdown is shown for your information.
    </p>

    {% if availablefirst %}
        <div class="panel panel-primary">
            <div class="panel-heading">FIRST CLASS &pound;{{ farefirst.total }}</div>
            <div class="panel-body">
                <ul>
                    <li><span class="classtotal">Total for First Class is &pound;{{ farefirst.total }}</span></li>
                    <li>{{ purchase.adults }} {{ purchase.adults==1 ? 'Adult' : 'Adults' }}
                        at &pound;{{ farefirst.adultunit}}, total &pound;{{ farefirst.adultfare }}</li>
                    {% if purchase.children %}
                        <li>{{ purchase.children }} {{ purchase.children==1 ? 'Child' : 'Children' }}
                            at &pound;{{ farefirst.childunit}}, total &pound;{{ farefirst.childfare }}</li>
                    {% endif %}
                    <li>Booked meals total &pound;{{ farefirst.meals }}</li>
                </ul>
                <a class="btn btn-primary" href="{{ path( 'booking/class', "F" ) }}">Choose <b>FIRST CLASS</b></a>
            </div>
        </div>
    {% else %}
        <div class="panel panel-danger">
            <div class="panel-body">
                We are sorry, there are not enough available seats to accomodate your party
                in First Class.
            </div>
        </div>
    {% endif %}

    {% if availablestandard %}
        <div class="panel panel-primary">
            <div class="panel-heading">STANDARD CLASS &pound;{{ farestandard.total }}</div>
            <div class="panel-body">
                <ul>
                    <li><span class="classtotal">Total for Standard Class is &pound;{{ farestandard.total }}</span></li>
                    <li>{{ purchase.adults }} {{ purchase.adults==1 ? 'Adult' : 'Adults' }}
                        at &pound;{{ farestandard.adultunit}}, total &pound;{{ farestandard.adultfare }}</li>
                    {% if purchase.children %}
                        <li>{{ purchase.children }} {{ purchase.children==1 ? 'Child' : 'Children' }}
                            at &pound;{{ farestandard.childunit}}, total &pound;{{ farestandard.childfare }}</li>
                    {% endif %}
                    <li>Booked meals total &pound;{{ farestandard.meals }}</li>
                </ul>
                <a class="btn btn-primary" href="{{ path( 'booking/class', "S" ) }}">Choose <b>STANDARD CLASS</b></a>
            </div>
        </div>
    {% else %}
        <div class="panel panel-danger">
            <div class="panel-body">
                We are sorry, there are not enough available seats to accomodate your party
                in Standard Class.
            </div>
        </div>
    {% endif %}

    <div>
        <form action="{{ path( 'booking/class' ) }}" method="post">
            <input type="submit" name="back" value="Back" class="btn btn-warning" />
        </form>
    </div>

{% endblock content %}