{% extends 'booking/booking.html.twig' %}

{% block content %}
    <div class="srpsnavbar">
        SRPS Railtours Online Booking &nbsp;<span class="navdot glyphicon glyphicon-record"></span>&nbsp; {{ service.name }}
    </div>

    <h3 class="text-error">Destination...</h3>

    <p>
        There is more than one destination/option for this tour. Please choose
        the one you would like (Prices are per passenger)
    </p>

    <form id="destination-form" class="form-horizontal" action="{{ path('booking/destination') }}" method="post">

          {% for destination in destinations %}
              {% if destination.available %}
                  <div class="radio">
                      <input type="radio" value="{{ destination.crs }}" name="destination">
                      <p>{{ destination.description | raw }}</p>
                      <p class="text-info">Price Each: <b>First</b> &pound;{{ destination.first }},  <b>Standard adult</b>
                          &pound;{{ destination.standard }},  <b>Standard child</b> &pound;{{ destination.child }}</p>
                  </div>
              {% else %}
                  <div class="alert alert-error">
                      <p class="muted">{{ destination.description | raw }}</p>
                      <p><b>Sorry, this destination is fully booked.</b></p>
                  </div>
              {% endif %}
          {% endfor %}

        {{ form_errors(errors) }}

        <div>
            <input type="submit" name="next" value="Next step" class="btn btn-primary" />
            <input type="submit" name="cancel" value="Back" class="btn btn-warning" formnovalidate />
        </div>

    </form>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('#destination-form').validate({
            errorClass: "validateError",
            errorLabelContainer: ".errorlabel",
            //rules: {
            //    joining: {
            //        required: true
            //    }
            //}
        });
    </script>
{% endblock javascripts %}