{% extends 'booking/booking.html.twig' %}

{% block content %}
    <div class="srpsnavbar">
        SRPS Railtours Online Booking &nbsp;<span class="navdot glyphicon glyphicon-record"></span>&nbsp; {{ service.name }}
    </div>

    <h3 class="text-error">Joining station...</h3>

    <p>
        Tell us which station you will be joining the train at.
    </p>

    <form id="joining-form" class="form-horizontal" action="{{ path('booking/joining') }}" method="post">
        <div class="errorlabel"></div>
        {{ form_radio('joining', '', purchase.joining, stations) }}

        {{ form_errors(errors) }}

        <div>
            <input type="submit" name="next" value="Next step" class="btn btn-primary" />
            <input type="submit" name="back" value="Back" class="btn btn-warning" formnovalidate />
        </div>
    </form>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('#joining-form').validate({
            errorClass: "validateError",
            errorLabelContainer: ".errorlabel",
            rules: {
                joining: {
                    required: true
                }
            }
        });
    </script>
{% endblock javascripts %}