{% extends 'booking/booking.html.twig' %}

{% block content %}
    <div class="srpsnavbar">
        SRPS Railtours Online Booking &nbsp;<span class="navdot glyphicon glyphicon-record"></span>&nbsp; {{ service.name }}
    </div>

    <h3 class="text-error">Meals...</h3>

    <p>
        Tell us which meals you would like. Please select the number of each available
        meal that you require.
    </p>

    <form id="meals-form" class="form-horizontal" action="{{ path('booking/meals') }}" method="post" >
        {% for meal in meals %}
            {{ form_select(meal.formname, meal.label, meal.purchase, meal.choices) }}
        {% endfor %}

        {{ form_errors(errors) }}

        <div>
            <input type="submit" name="next" value="Next step" class="btn btn-primary" />
            <input type="submit" name="back" value="Back" class="btn btn-warning" formnovalidate />
        </div>
    </form>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('#meals-form').validate({
            errorClass: "validateError",
            errorLabelContainer: ".errorlabel",
            rules: {
                {{ jqv }}
            }
        });
    </script>
{% endblock javascripts %}