{% extends 'booking/booking.html.twig' %}

{% block content %}
    <div class="srpsnavbar">
        SRPS Railtours Online Booking &nbsp;<span class="navdot glyphicon glyphicon-record"></span>&nbsp; {{ service.name }}
    </div>

    <h3 class="text-error">Your personal details</h3>

    <p>
        Please provide your contact details and address for delivery of
        your Railtour tickets. Make sure you provide a working email and/or
        telephone contact so we can get in touch with you if we need to.
    </p>

    <form id="personal-form" class="form-horizontal" action="{{ path('booking/personal') }}" method="post">
        {{ form_text('title', 'Title', purchase.title) }}
        {{ form_text('firstname', 'First name', purchase.firstname) }}
        {{ form_text('surname', 'Surname', purchase.surname) }}
        {{ form_text('address1', 'Address line 1', purchase.address1) }}
        {{ form_text('address2', 'Address line 2', purchase.address2) }}
        {{ form_text('city', 'Post town / city', purchase.city) }}
        {{ form_text('county', 'County', purchase.county) }}
        {{ form_text('postcode', 'Post code', purchase.postcode) }}
        {{ form_text('phone', 'Telephone', purchase.phone) }}
        {{ form_text('email', 'Email', purchase.email) }}

        {%  if service.eticketenabled and service.eticketoptional %}
            <div class="panel panel-info">
                <div class="panel-heading">eTicket (Ticket by email)</div>
                <div class="panel-body">
                    Please let us know if you would like an 'eTicket' send by email? This will be send approximately
                    one week before the tour. You will need access to a printer to print your own ticket.
                    {{ form_yesno('eticket', 'Send eTicket by email', purchase.eticket) }}
                </div>
            </div>
        {% endif %}

        {{ form_errors(errors) }}

        <div>
            <input type="submit" name="next" value="Final step" class="btn btn-primary" />
            <input type="submit" name="back" value="Back" class="btn btn-warning" formnovalidate />
        </div>
    </form>

{% endblock content %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('#personal-form').validate({
            errorClass: "validateError",
            errorLabelContainer: ".errorlabel",
            rules: {
                firstname: {
                    required: true
                },
                surname: {
                    required: true
                },
                address1: {
                    required: true
                },
                city: {
                    required: true
                },
                postcode: {
                    required: true
                },
                email: {
                    required: true
                },
            }
        });
    </script>
{% endblock javascripts %}