{% extends 'admin/admin.html.twig' %}


{% block content %}
    <h3>{{service.name}} ({{ service.code }})</h3>

    <form id="service-edit-form" class="form-horizontal" action="{{ path('service/edit', service.id) }}" method="post" >
        {{ form_text('code', 'Code', service.code, true) }}
        {{ form_text('name', 'Name', service.name, true) }}
        {{ form_textarea('description', 'Description', service.description, true, {'cols': '40', 'rows': '8'}) }}
        {{ form_yesno('visible', 'Visible', service.visible) }}
        {{ form_date('date', 'Date', service.date, true) }}
        {{ form_text('singlesupplement', 'Single supplement', service.singlesupplement) }}
        {{ form_yesno('commentbox', 'Show comment box', service.commentbox) }}

        <table class="table">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Meal name</th>
                    <th>Visible?</th>
                    <th>Meal price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="lead">A</th>
                    <td>{{ form_text('mealaname', '', service.mealaname, true) }}</td>
                    <td>{{ form_yesno('mealavisible', '', service.mealavisible) }}</td>
                    <td>{{ form_text('mealaprice', '', service.mealaprice) }}</td>
                </tr>
                <tr>
                    <th class="lead">B</th>
                    <td>{{ form_text('mealbname', '', service.mealbname, true) }}</td>
                    <td>{{ form_yesno('mealbvisible', '', service.mealbvisible, true) }}</td>
                    <td>{{ form_text('mealbprice', '', service.mealbprice) }}</td>
                </tr>
                <tr>
                    <th class="lead">C</th>
                    <td>{{ form_text('mealcname', '', service.mealcname, true) }}</td>
                    <td>{{ form_yesno('mealcvisible', '', service.mealcvisible, true) }}</td>
                    <td>{{ form_text('mealcprice', '', service.mealcprice) }}</td>
                </tr>
                <tr>
                    <th class="lead">D</th>
                    <td>{{ form_text('mealdname', '', service.mealdname, true) }}</td>
                    <td>{{ form_yesno('mealdvisible', '', service.mealdvisible, true) }}</td>
                    <td>{{ form_text('mealdprice', '', service.mealdprice) }}</td>
                </tr>
            </tbody>
        </table>

        {{ form_errors(errors) }}

        <div>
            <input type="submit" name="submit" value="Save" class="btn btn-primary" />
            <input type="submit" name="cancel" value="Cancel" class="btn btn-warning" />
        </div>
    </form>

{% endblock content %}

{%block javascripts %}
    {{ parent() }}

    <script>
        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",
            autoclose: true
        });
        $('#service-edit-form').validate({
            errorClass: "validateError",
            rules: {
                code: {
                    required: true
                },
                name: {
                    required: true
                },
                description: {
                    required: true
                },
                date: {
                    required: true
                },
                singlesupplement: {
                    number: true
                },
                mealaname: {
                    required: true
                },
                mealaprice: {
                    required: true,
                    number: true
                },
                mealbname: {
                    required: true
                },
                mealbprice: {
                    required: true,
                    number: true
                },
                mealcname: {
                    required: true
                },
                mealcprice: {
                    required: true,
                    number: true
                },
                mealdname: {
                    required: true
                },
                mealdprice: {
                    required: true,
                    number: true
                }
            }
        });
    </script>
{% endblock javascripts %}