{% extends 'admin/admin.html.twig' %}

{% block content %}
    <h3>Railtour Services</h3>

    <form id="services_filter_form" class="form-horizontal" action="{{ path('service/index') }}"
          novalidate="novalidate" method="post">
        <label>Tour season</label>
        <select id="services_filter_year" name="filter_year">
            {% for year in years %}
                <option {{ year==filteryear ? 'selected="selected"' : '' }}>{{ year }}</option>
            {% endfor %}
        </select>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Visible</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
                <tr>
                    <td><strong>{{ service.code }}</strong></td>
                    <td>{{ service.name }}</td>
                    <td>
                        {% if service.visible %}
                            <a href="{{ path('service/visible', [service.id, 0]) }}">Yes</a>
                        {% else %}
                            <a href="{{ path('service/visible', [service.id, 1]) }}">No</a>
                        {% endif %}
                    </td>
                    <td>{% if service.date %}{{ service.date|date('d/m/Y') }}{% endif %}</td>
                    <td>
                        <a class="btn btn-sm btn-success" href="{{ path('service/show', service.id) }}">Show</a>
                        <a class="btn btn-sm btn-primary" href="{{  path('limits/edit', service.id) }}">Limits</a>
                        {% if service.visible and enablebooking %}
                            <a class="btn btn-sm btn-info" href="{{ path('booking/index', service.code) }}">Book</a>
                        {% else %}
                            <a class="btn btn-sm btn-info disabled">Book</a>
                        {% endif %}
                        <a class="btn btn-sm btn-warning" href="{{ path('report/list', service.id) }}">Report/Export</a>
                        <a class="btn btn-sm btn-danger" href="{{ path('service/duplicate', service.id) }}">Duplicate</a>
                        <a class="btn btn-sm btn-danger" href="{{ path('service/delete', service.id) }}">Delete</a>
                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>

        {% if not enablebooking %}
            <div class="alert">
                NOTE: Booking is currently disabled on this site
            </div>
        {% endif %}

        {% if system.userrole == 'ROLE_ADMIN' %}
            <div class="btn-group">
                <a class="btn btn-primary" href="{{ path('service/edit') }}">
                    Add a new service
                </a>
            </div>
        {% endif %}
{% endblock content %}
    
{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $('#services_filter_year').change(
                function() {
                    $('#services_filter_form').submit();
                }
            );
    </script>    
{% endblock javascripts %}